.navigationBar {
    width: 100%;
    background-color: #35278c;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    color: white;
}

.logoContainer {
  display: flex;
  align-items: center;
  font-size: 1.5em;
  font-weight: bold;
}

.logoIcon {
  margin-right: 10px;
}

.logoText {

}

.navLinks {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.navLinks li a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

.navLinks li a:hover {
    color: #c7a7e8
}


@media (max-width: 768px) {
  .navigationBar {
    flex-direction: column;
    padding: 15px 15px;
  }

  .navLinks {
    margin-top: 15px;
    gap: 15px;
  }
}  