.card {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    min-width: 220px;
    flex-shrink: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.imageWrapper {
    position: relative;
    width: 100%;
    height: 150px;
}

.cardTitle {
    font-size: 1.1rem;
    color: #333;
    padding: 10px;
    margin: 0;
}


@media (max-width: 480px) {
    .card {
        min-width: 180px;
    }

    .imageWrapper {
        height: 120px;
    }

    .cardTitle{
        font-size: 1rem;
        padding: 8px;
    }
}